body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    font-size: 20px;

}

.top-banner {
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    margin-bottom: 150px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: cover;
}

.top-banner-contents {

    text-align: center;
    color: white;

}

.top-banner-contents h1 {
    font-size: 55px;

}



.link-button {
    text-decoration: none;
    background-color: rgb(250, 95, 95);
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.donate-area-content {
    text-align: center;
}

.donate-area-content h2 {
    font-size: 50px;
}

.donate-area-content p {

    color: grey;
}

.donation-amounts {
    display: flex;
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom: 30px;
}

.donation-amounts-taka {
    padding: 20px 40px;
    background-color: rgb(241, 235, 235);
    margin: 10px;
    border-radius: 5px;
}

.selected {
    border: 3px solid rgb(250, 95, 95);
    color: rgb(250, 95, 95);
    background-color: rgb(240, 212, 212);
}

.donation-amounts-taka h3 {
    font-size: 30px;
}

.donation-sending-area {
    text-align: center;
}

.donation-sending-area input {
    width: 60%;
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.donate-area {
    margin-bottom: 150px;
}

.donation-plan-contents {
    text-align: center;
}

.donation-plan-contents h2 {
    font-size: 50px;
}

.donation-plan-contents p {

    color: gray;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.donation-sectors {
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.donation-sectors h3 {
    font-size: 24px;
}

.donation-sectors p {
    color: gray;
    line-height: 1.2;
}

.sectors {
    margin-left: 20px;
    padding: 100px 20px;
    border-radius: 5px;
    background-color: rgb(222, 210, 210);

}

.food {
    background-color: rgb(235, 242, 245);
}

.shelter {
    background-color: rgb(249, 232, 235);
}

.education {
    background-color: rgb(241, 225, 195);
}

.updates {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px;

}

.updates form {
    background-color: rgb(241, 228, 205);
    padding: 80px 30px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;

}

.updates p {
    color: gray;
}

.email {
    padding: 15px 100px;
}

.button,
.email {
    margin: 0;
    border: 0;
}

footer {
    background-color: black;
    padding: 30px;
    margin: 0;
    text-align: center;
}

footer p {
    color: gray;
}

footer h3 {
    color: orange;
    font-size: 40px;

}